html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background-image: url("~/assets/img/background.webp");
  background-repeat: no-repeat;
  background-size: cover;
}

:target {
  scroll-margin-top: 4rem;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}